/web/archivos/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/build/
/vendor/
/bin/
/composer.phar
/src/Acme/*
/nbproject/
/nbproject/private/

app/config/deploy.rb

app/logs/prod.log

app/logs/dev.log
