/web/archivos/
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/build/
/vendor/
/bin/
/composer.phar
/src/Acme/*
/nbproject/*
/nbproject/private/

app/config/deploy.rb

app/logs/prod.log

app/logs/dev.log

web/uploads/20161/formatoplang/formatoplang-160001.xlsx

nbproject/private/private.xml

web/uploads
.vscode/launch.json
