{% block body -%}
 <div class="modal-header">
  
                <h4 class="modal-title">Confirmar Borrar Productividad</h4>
                </div>			<!-- /modal-header -->
                <div class="modal-body">
                 Tipo : {{entity.tipo}}<br>
                Descripción : {{entity.descripcion}}
                </div>
                <div class="modal-footer">
                {{ form(delete_form) }}

                </div>
{% endblock %}