                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times</button>
                <h5 class="modal-title">Programa {{entity.programa.nombre}}</h5>
                </div>			<!-- /modal-header -->
                <div class="modal-body"> 
        {{ include(
            'Programa/detalle.html.twig',
            {'entity': entity}
        ) }}
                         
        </div>

