                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times</button>
                <h5 class="modal-title">Curso</h5>
                </div>			<!-- /modal-header -->
                <div class="modal-body"> 
        {{ include(
            'AdminUnadBundle:Curso:detalle.html.twig',
            {'entity': entity}
        ) }}
                </div>

