{% extends '::base.html.twig' %}

{% block body -%}
        {{ include(
            'AdminUnadBundle:Curso:detalle.html.twig',
            {'entity': entity}
        ) }}

        <ul class="record_actions">
    {% if is_granted('ROLE_ADMIN') %} <li>{{ form(delete_form) }}</li> {%endif%}
</ul>

{{ form(cedula_form) }}
{% endblock %}
