{% extends '::base.html.twig' %}

{% block body -%}


                <div class="modal-header">
   
                <h4 class="modal-title">Confirmar Borrar Rol</h4>
                </div>			<!-- /modal-header -->
                <div class="modal-body">
                Rol: 
               {{ entity.rol.nombre }}
           
          <br>
                Horas
                {{ entity.horas }}
                
                </div>
                <div class="modal-footer">
                {{ form(delete_form) }}

                </div>

{% endblock %}
