<!DOCTYPE html>
    <head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->

    <title>Módulo de Evaluación Docente MED</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Use the correct meta names below for your web application
             Ref: http://davidbcalhoun.com/2010/viewport-metatag 

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">-->

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Basic Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css">	
    <link rel="stylesheet" type="text/css" media="screen" href="css/font-awesome.min.css">

    <!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
    <link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-production.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-skins.css">	

    <!-- SmartAdmin RTL Support is under construction
            <link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-rtl.css"> -->

    <!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
    <link rel="stylesheet" type="text/css" media="screen" href="css/demo.css">

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon">

    <!-- GOOGLE FONT -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

	</head>
	<body id="login" class="animated fadeInDown">
		<!-- possible classes: minified, no-right-panel, fixed-ribbon, fixed-header, fixed-width-->
		<header id="header">
			<!--<span id="logo"></span>-->

			<div id="logo-group">
				<span id="logo"> <img src="img/unad_2013.png" alt="SmartAdmin"> </span>

				<!-- END AJAX-DROPDOWN -->
			</div>

		</header>

                <div id="main" role="main">

            <!-- MAIN CONTENT -->
                    <div id="content" class="container">
                   <h1 class="txt-color-orangeDark login-header-big">Módulo para la Evaluación del Desempeño Docente del periodo: 2016-1</h1>
              Desarrollado en coherencia con las directrices emitidas por el Consejo Superior Universitario en el Acuerdo 003 del 28 de enero de 2011 y modificado por el Acuerdo 013 del 05 de mayo de 2011.
                    <h4 class="paragraph-header">
                   <table class="table table-bordered hidden-mobile">

                       <tr>
                           <td><b>Circular informativa: </b></td>
                           <td><a href="http://siga.unad.edu.co/docs/med20161-circular.pdf" target="new">Ver... <i class="fa fa-download"></i></a></td>
                       </tr>

                   </table>
                            
                      
                    </h4>
                    <br>
                    <table class="table table-bordered hidden-mobile">
                       <tr>
                       <td colspan="3" align="center">
                       <h1 class="txt-color-orangeDark login-header-big">AUTENTICACIÓN E INGRESO</h1>
                       </td>
                       </tr>
                       <tr>
                      <td colspan="3">
                          <ul>
                      <li> Para ingresar al módulo debe primero autenticarse, si no puede superar esta autenticación intente recuperar sus credenciales utilizando el instructuvo que esta a continuación o puede comunicarse con la Mesa de Ayuda soporte.tecnico@unad.edu.co o la extensión 1609 PBX 3443700.  
                      </li>
                      <li>
                       <a href="http://siga.unad.edu.co/docs/recuperacion-credenciales-acceso.pdf" target="new">Instructivo de Recuperación de Credenciales de Acceso <i class="fa fa-download"></i></a>
                           </li></ul>
                       </td>      
                       </tr>                  
                       <tr>
                       {%if instrumentos[9].estado%}    
                       <td>1. Sistema Único de Autenticación</td>
                       <td>
                       {%if autenticacion != "Aceptada" %}
                       <a href="http://login.unad.edu.co/?continue=http://siga.unad.edu.co/" class="btn btn-primary btn-xs">Autenticar <i class="fa fa-unlock"></i></a>
                       {%else%}
                       {{cedula_usuario}}:
                       {{nombres_usuario}} {{apellidos_usuario}}
                       {%endif%}       
                       </td>
                       </tr>
                       <tr>
                           <td>2. Ingreso MED Módulo de Evaluación de Desempeño Docente</td>

                           <td>
                       {%if  cedula_usuario is not null and autenticacion =="Aceptada" %}
                       <a href={{path('admin_user_send')}} class="btn btn-primary btn-xs">Entrar <i class="fa fa-sign-in"></i></a>
                        {%else%}
                       Auntentiquese primero para poder ingresar, Gracias.
                            {%endif%}
                       </td>
                      {%else%}
                       <td>El ingreso al módulo se encuentra deshabilitado por el momento, disculpe los inconvenientes.</td>
                        {%endif%}
                       
                       </tr>
                       <tr>
                           <td colspan="2" align="center">
                               <h5>Navegadores soportados en esta versión: Google Chrome y Firefox </h5>
                               <p>Ayuda y soporte técnico - Correo: omar.rodriguez@unad.edu.co - Skype: orznet</p>
                           </td>    
                       </tr>
                   </table>

			</div>

		</div>

		<!--================================================== -->	

		<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
		<script src="js/plugin/pace/pace.min.js"></script>

	    <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
	    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script> if (!window.jQuery) { document.write('<script src="js/libs/jquery-2.0.2.min.js"><\/script>');} </script>

	    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
		<script> if (!window.jQuery.ui) { document.write('<script src="js/libs/jquery-ui-1.10.3.min.js"><\/script>');} </script>

		<!-- JS TOUCH : include this plugin for mobile drag / drop touch events 		
		<script src="js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> -->

		<!-- BOOTSTRAP JS -->		
		<script src="js/bootstrap/bootstrap.min.js"></script>

		<!-- CUSTOM NOTIFICATION -->
		<script src="js/notification/SmartNotification.min.js"></script>

		<!-- JARVIS WIDGETS -->
		<script src="js/smartwidgets/jarvis.widget.min.js"></script>
		
		<!-- EASY PIE CHARTS -->
		<script src="js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>
		
		<!-- SPARKLINES -->
		<script src="js/plugin/sparkline/jquery.sparkline.min.js"></script>
		
		<!-- JQUERY VALIDATE -->
		<script src="js/plugin/jquery-validate/jquery.validate.min.js"></script>
		
		<!-- JQUERY MASKED INPUT -->
		<script src="js/plugin/masked-input/jquery.maskedinput.min.js"></script>
		
		<!-- JQUERY SELECT2 INPUT -->
		<script src="js/plugin/select2/select2.min.js"></script>

		<!-- JQUERY UI + Bootstrap Slider -->
		<script src="js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>
		
		<!-- browser msie issue fix -->
		<script src="js/plugin/msie-fix/jquery.mb.browser.min.js"></script>
		
		<!-- FastClick: For mobile devices -->
		<script src="js/plugin/fastclick/fastclick.js"></script>
		
		<!--[if IE 7]>
			
			<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>
			
		<![endif]-->

		<!-- MAIN APP JS FILE -->
		<script src="js/app.js"></script>

		<script type="text/javascript">
			runAllForms();

			$(function() {
				// Validation
				$("#login-form").validate({
					// Rules for form validation
					rules : {
						email : {
							required : true,
							email : false
						},
						password : {
							required : true,
							minlength : 3,
							maxlength : 20
						}
					},

					// Messages for form validation
					messages : {
						email : {
							required : 'Please enter your email address',
							email : 'Please enter a VALID email address'
						},
						password : {
							required : 'Please enter your password'
						}
					},

					// Do not change code below
					errorPlacement : function(error, element) {
						error.insertAfter(element.parent());
					}
				});
			});
		</script>

	</body>
</html>{# empty Twig template #}
