{% extends '::base.html.twig' %}
{% block body -%}	
<!-- MAIN CONTENT -->

			<div id="content" class="container">
		
					<div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
						<h1 class="txt-color-orangeDark login-header-big">MED Módulo de Evaluación Docente</h1>
                                                <h1 class="txt-color-orangeDark login-header-big">Perido activo: {{periodo}}</h1>
						<div class="hero">
							<div class="pull-left login-desc-box-l">
								<h5 class="paragraph-header">Desarrollado en coherencia con las directrices emitidas por el Consejo Superior Universitario en el Acuerdo 003 del 28 de enero de 2011, modificado por el Acuerdo 013 del 05 de mayo de 2011.</h5>
								<div class="login-app-icons">
								</div>
							</div>

						</div>

					</div>			
			</div>

{% endblock %}