{% extends '::base.html.twig' %}

{% block body -%}
    <article class="col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable">
        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-36" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Editar Zona</h2>
            </header>
            <!-- widget div-->
            <div>

                <!-- widget edit box -->
                <div class="jarviswidget-editbox">
                    <!-- This area used as dropdown edit box -->

                </div>
                <!-- end widget edit box -->

                <!-- widget content -->
                <div class="content">
                    <div class="widget-body no-padding" id="bodyform">
                        <div class="form_error"></div>
                        <form method="POST" id="checkout-form" class="smart-form" novalidate="novalidate" method="POST" action="{{path('zona_update', { 'id': entity.id })}}" {{ form_enctype(form) }}>
                            <div id="form_body">
                                {% include 'Zona/form.html.twig' with {'form': form} %}
                            </div>
                            <footer>
                                <button type="submit" class="btn btn-primary">Editar</button>
                            </footer>

                            {{form_rest(form)}}

                        </form>

                    </div>
                    <!-- end widget content -->
                </div>
            </div>
            <!-- end widget div -->
        </div>
        <!-- end widget -->
    </article>

{% endblock %}
